<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Document</title>
</head>
<body>
    {%extends "base.html"%}
    {%block content%}
    <div class="card">
        <h2>ALERT</h2>
        <form action="/controle" method="POST">
            <input type="hidden" name="message_type" value="led">
            <button type="submit" name="led_state" value="1">Turn On</button>
        </form>
        <form action="/controle" method="POST">
            <input type="hidden" name="message_type" value="led">
            <button type="submit" name="led_state" value="0">Turn Off</button>
        </form>
    </div>
    {% endblock %}
    
</body>
</html>
