<!-- edit_user.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
</head>
<body>
    {% extends "baseadm.html" %}
    {% block content %}
    <div class="vertical-center">
        <div class="container">
            <h2>Editar Usuário</h2>
            <form method="POST" action="{{ url_for('user.edit_user') }}">
                <label for="user">Usuário:</label><br>
                <input type="text" id="user" name="user" value="{{ user.user }}"><br>
                <label for="password">Senha:</label><br>
                <input type="password" id="password" name="password" value="{{ user.password }}"><br><br>
                <input type="submit" value="Salvar">
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
