<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Minha Casa</title>
    <link rel="stylesheet" href="../static/css/sobre.css">
</head>
        {% extends "base.html" %}
        {% block content %}

            <body>
                <div class="vertical-center">
                    <div class="card-container">
                        <div class="cardsobre">
                            <div class="front-content">
                                <p>Sobre nós</p>
                            </div>
                            <div class="content">
                                <p class="heading">Sobre nós</p>
                                <p>
                                    Somos uma equipe dedicada a enfrentar as catástrofes
                                    ambientais exacerbadas pelas mudanças climáticas. Nosso
                                    objetivo é antecipar e minimizar os impactos de eventos
                                    climáticos extremos, protegendo vidas e infraestruturas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-banner"></div>
                {% endblock %}
        </body>
</html>
